---
import Layouts from '../layouts/MainLayouts.astro';
import Info from '../components/Info.astro';
---

<Layouts title="404">
  <Info title="404 Page Not Found" />
  <!-- <h1 class="text-4xl text-center my-60 md:text-6xl">
    <span class="text-transparent bg-gradient-to-br bg-clip-text from-lime-200 via-lime-400 to-green-600 font-extrabold">
      404 Page Not Found
    </span>
  </h1> -->
</Layouts>