---
import Layouts from '../layouts/MainLayouts.astro';
import Info from '../components/Info.astro';

const links = [
  {link: '', icon: '', text: 'Acceder con Google'},
  {link: '', icon: '', text: 'Acceder con Facebook'},
  {link: '', icon: '', text: 'Acceder con Twitter'}
];

---

<Layouts title="Iniciar Sesión">
  <Info title="Iniciar Sesión" text="¡Crea una cuenta!" />
  <section class="py-4 flex flex-wrap justify-center items-center">
    <div class="my-14">
      <!-- <div>
        {links.map((item) => (
          <a href="" class="w-full flex items-center justify-center px-8 py-3 border-2 border-black text-base font-medium rounded-md mt-4 text-black bg-white hover:bg-black hover:text-white md:py-4 md:text-lg md:px-10">
            {item.text}
          </a>
        ))}
      </div> -->
      <div>
        <a href="" class="w-full flex items-center justify-center px-8 py-3 border-2 border-black text-base font-medium rounded-md mt-4 text-black bg-white md:py-4 md:text-lg md:px-10">
          <svg aria-hidden="true" class="native svg-icon iconGoogle mr-2" width="25" height="25" viewBox="0 0 18 18"><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18Z" fill="#4285F4"></path><path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17Z" fill="#34A853"></path><path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07Z" fill="#FBBC05"></path><path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3Z" fill="#EA4335"></path></svg>
          Crear cuenta con Google
        </a>
        <a href="" class="w-full flex items-center justify-center px-8 py-3 border-2 border-blue-700 text-base font-medium rounded-md mt-4 text-white bg-blue-900 hover:bg-blue-700 hover:text-white md:py-4 md:text-lg md:px-10">
          Crear cuenta con Facebook
        </a>
        <a href="" class="w-full flex items-center justify-center px-8 py-3 border-2 border-cyan-500 text-base font-medium rounded-md mt-4 text-black bg-cyan-400 hover:bg-cyan-500 hover:text-white md:py-4 md:text-lg md:px-10">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="mr-2" x="0px" y="0px"
          width="25" height="25"
          viewBox="0 0 30 30"
          style=" fill:#000000;"><path d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z"></path></svg>
          Crear cuenta con Twitter
        </a>
      </div>
    </div>
  </section>
</Layouts>