---
export interface Props {
  title: string;
  text?: string;
}

const { title, text } = Astro.props as Props;
---

<section class="flex bg-lime-100 justify-center text-center py-16">
  <div class="max-w-2xl">
    <h1 class="text-5xl my-4 tracking-tight font-extrabold text-lime-700 md:my-8 sm:text-6xl md:text-7xl">{title}</h1>
    <p class="text-black text-lg md:text-2xl">{text}</p>
  </div>
</section>