---
export interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<!-- bg-gradient-to-b from-cyan-200 via-cyan-300 to-blue-700 -->

<!-- <section class="flex bg-white justify-center text-center py-28">
  <div class="max-w-2xl">
    <img src="/assets/portada.jpg" class="" alt="">
  </div> -->
  <!-- <div class="max-w-2xl">
    <h1 class="text-transparent bg-gradient-to-br bg-clip-text from-lime-200 via-lime-400 to-green-600 text-7xl mb-4 font-bold">{title}</h1>
    <p class="text-black text-3xl">{text}</p>
  </div>
</section> -->

<div class="relative bg-white overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
      <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-lime-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <polygon points="50,0 100,0 50,100 0,100" />
      </svg>

      <div>
        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
          <!-- <nav>
          </nav>-->
        </div>
      </div>

      <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="sm:text-center lg:text-left">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="text-transparent bg-gradient-to-br bg-clip-text from-lime-200 via-lime-400 to-green-600 text-7xl font-boldblock xl:inline">{title}</span>
          </h1>
          <h2 class="mt-4 text-3xl tracking-tight font-extrabold">
            <span class="block text-green-700">{text}</span>
          </h2>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
             Comparte tus libros favoritos con la comunidad.
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="/agregar" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-lime-800 bg-lime-400 hover:bg-lime-600 hover:text-white md:py-4 md:text-lg md:px-10">
              Agregar
                <!-- Registrate -->
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="/" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-lime-800 bg-lime-100 hover:bg-lime-200 md:py-4 md:text-lg md:px-10">
                <!-- Iniciar Sesion -->
                Inicio
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="/assets/portada.jpg" alt="">
  </div>
</div>