---
import BookLover from '/assets/undraw_book_lover.svg';
import BookReading from '/assets/undraw_book_reading.svg';
import BooksHelves from '/assets/undraw_bookshelves.svg';
---

<section class="mt-4 flex px-0 items-center flex-col md:px-28">
  <div class="flex w-full box-border p-6 items-center flex-col md:flex-row sm:w-1/2">
    <img src={BookLover} class="w-full max-w-xs h-80 mr-5" alt="">
    <p class="leading-6">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum suscipit eveniet explicabo iusto ab nemo
      voluptas?
      Magnam reiciendis officia tempora, necessitatibus accusantium possimus eveniet ab corrupti iusto nesciunt
      asperiores
      animi?
    </p>
  </div>
  <div class="flex w-full box-border p-6 items-center flex-col md:flex-row sm:w-1/2">
    <img src={BookReading} class="w-80 h-80 mr-5" alt="">
    <p class="leading-6">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum suscipit eveniet explicabo iusto ab nemo
      voluptas?
      Magnam reiciendis officia tempora, necessitatibus accusantium possimus eveniet ab corrupti iusto nesciunt
      asperiores
      animi?
    </p>
  </div>
  <div class="flex w-full box-border p-6 items-center flex-col md:flex-row sm:w-1/2">
    <img src={BooksHelves} class="w-80 h-80 mr-5" alt="">
    <p class="leading-6">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum suscipit eveniet explicabo iusto ab nemo
      voluptas?
      Magnam reiciendis officia tempora, necessitatibus accusantium possimus eveniet ab corrupti iusto nesciunt
      asperiores
      animi?
    </p>
  </div>
</section>