---
const menu = [
  // { url: '/', text: 'Inicio' },
  { url: '/explorer', text: 'Explorar'},
  { url: '/add-books', text: 'Nuevo Libro'}
];
---

<nav class="w-full fixed mt-48 bg-white bg-opacity-60 backdrop-blur-lg shadow-sm z-10 text-base p-1 sm:mt-16">
  <div class="mx-auto px-2 sm:px-6">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-lime-400 hover:text-lime-500 hover:bg-lime-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-lime-400" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:justify-start">
        <span class="text-3xl text-transparent bg-gradient-to-br bg-clip-text from-lime-200 via-lime-400 to-green-600 font-bold">
          <a href="/">XB</a>
        </span>
        <ul class="hidden ml-5 sm:flex">
          {menu.map((item) => (
            <li class="flex space-x-4 sm:m-1">
              <a href={item.url} class="bg-lime-400 text-lime-800 hover:bg-lime-300 px-3 py-2 rounded-md text-sm font-medium">{item.text}</a>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <ul class="sm:hidden" id="mobile-menu">
   {menu.map((item) => (
    <li class="px-2 pt-2 pb-3 space-y-1">
      <a href={item.url} class="text-lime-800 hover:bg-lime-300 block px-3 py-2 rounded-md text-base font-medium">{item.text}</a>
    </li>
   ))}
  </ul>
</nav>